*.iml
/.idea
*.classpath
.project
*.prefs
*.class
target/classes/sample-video.mp4
*.json
*.xml
target/classes/webapp/index.html
target/maven-archiver/pom.properties
*.lst
target/nubomedia-cdn-client-0.0.2-jar-with-dependencies.jar
*.jar
*.asc
target/nubomedia-cdn-client-0.0.2-sources.jar.asc
*.asc
release.properties
/target
pom.xml.releaseBackup